// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
  line-height: 40px;
}
.col-md-6 {
  min-height: 200px;
}
.modal-header {
  h2 { float: left; margin: 0; }
}