// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 {
  line-height: 40px;
}
#login {
  .modal-dialog { max-width: 430px; }
}
.jumbotron {
  padding: 60px;
  h1 {
    margin-top: 0;
  }
}