// import the CSS framework
@import "variables";
@import "bootstrap";
@import "bootswatch";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}
footer {
  min-height: 200px;
  padding: 40px 0;
  margin-top: 40px;
  color: #fff;
  background-color: $navbar-default-bg;
}